{
    "extends": [
      "hardcore",
      "hardcore/ts"
    ],
  
    "parserOptions": {
      "project": "./tsconfig.json"
    },
  
    "env": {
      "browser": true
    },

    "rules": {
      "import/no-unused-modules": "warn",
      "max-statements": "off",
      "no-negated-condition": "off",
      "func-style": "off",
      "curly": "off",
      "unicorn/new-for-builtins": "off",
      "id-length": "off",
      "no-continue": "off",
      "@typescript-eslint/naming-convention": "off",
      "unicorn/prevent-abbreviations": "off",
      "max-params": "off",
      "no-underscore-dangle": "off",
      "no-bitwise": "off",
      "prefer-destructuring": "warn",
      "regexp/prefer-named-capture-group": "off",
      "@typescript-eslint/no-magic-numbers": "off",
      "@typescript-eslint/ban-types": "off",
      "@typescript-eslint/parameter-properties": "off",
      "import/no-namespace": "off",
      "@typescript-eslint/prefer-readonly-parameter-types": "warn",
      "prefer-named-capture-group": "off",
      "unicorn/consistent-function-scoping": "off",
      "@typescript-eslint/consistent-indexed-object-style": ["error", "record"],
      "prettier/prettier": [
        "warn",
        {
          "singleQuote": true,
          "semi": false,
          "endOfLine": "auto"
        }
      ],
      "@typescript-eslint/quotes": [
        "error",
        "single",
        {
          "avoidEscape": true,
          "allowTemplateLiterals": true
        }
      ],
      "semi": [
        "error",
        "never"
      ],
      "regexp/match-any": ["error", {
        "allows": ["[^]", "dotAll"]
      }],
      "new-cap": "off",
      "max-len": ["off", { "code": 250 }]
    }
  }