html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#main {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}

#area {
	position: relative;
	width: 100%;
	height: 100%;
	flex: 1;
	display: flex;
	justify-content: space-around;
	overflow: auto;
}

#tools {
	display: flex;
	flex-direction: column;
	align-items: left;
	flex-wrap: wrap;
	overflow: auto;
	width: 580px;
	height: 100%;
	transition: width .8s;
}

#doomlogo {
	max-width: 25%;
	max-height: 25%;
}
@media only screen and (max-width: 1700px) {
	#tools {
		width: 440px;
	}
}

@media only screen and (max-width: 1540px) {
	#tools {
		width: 300px;
	}
}
@media only screen and (max-width: 1380px) {
	#tools {
		width: 160px;
	}
}

@media only screen and (max-width: 966px) {

	#main {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	
	#tools {
		display: flex;
		align-items: left;
		overflow: auto;
		width: 100%;
		height: 240px;
	}
	#area {
		justify-content: flex-start;
	}
	
}

#left-arrow {
	width: 30px
}

#right-arrow {
	width: 30px
}

#map {
	min-width: 50px
}

#mapdiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#doomlogo {
	align-self: center;
}

#layersdiv {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
	flex-wrap: wrap;
	overflow: auto;
	transition: width .8s;
}

.layersubdiv {
	margin-left: 10%
}

#line {
	width: 90%; 
}

#select-import {
	min-width: 15%
}

#select-export {
	min-width: 15%
}

#select-file {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
